.list {
    /* border:3px dotted orange; */
    border-width:3px;
    border-style:dotted;
    border-color:orange;
    width:400px;
    /* border-radius:5px 10px 15px 20px; */
    /* border-top-left-radius:15px;
    border-bottom-right-radius:15px; */
    /* border-radius:15px 0; */
    border-radius:15px 0 15px 0;
    list-style-type:upper-alpha;
}
.list li  {
    height:2.5em;
}
.list1 {
    list-style-type:none;
    list-style-image:url(../images/arrow1.jpg);
}
.in {
    background-color:orange;
    list-style-position:inside;
}
.out {
    background-color:orange;
    list-style-position:outside;
}